<h2>{{title}}</h2>

<a href="/admin/newuser">Add User</a>
<a href="/admin"> Back</a>

<table id = tables>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th> Actions</th>
            </tr>
            
            {{#each users}}
            <tr>
                <td>{{this.user_id}}</td>
                <td>{{this.email}}</td>
                <td>{{this.firstname}}</td>
                <td>{{this.lastname}}</td>
                <td><a href="/admin/edit-user/{{this.user_id}}">Edit</a>
                <a href="#">Delete</a></td>
            </tr>
        {{/each}}
</table>