<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/images/FAVICON.png" size="16x16" type="image/png">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="header">
    <img src="/images/ERPLOGO.png" ALT="">
</div>
    
<a href="/user_page" style="color:orange;float:right;">Back to UserPage</a>

<h2>Update {{person.firstname}} {{person.lastname}}</h2>


<form id="update-person" action="/edit/{{person.user_id}}" method="post">
    <input type="text" name="firstname" value="{{person.firstname}}"><br>
    <input type="text" name="lastname" value="{{person.lastname}}"><br>
   
    <input type="submit" value="Update User" />
</form>
